{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'lectures:lecture_database' %}?folder={{ lecture.folder.id }}">{{ lecture.folder.name }}</a>
            </li>
        </ol>
    </nav>
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">
            Edit Lecture
        </h4>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="submitLectureChanges({{ lecture.id }})">
                <i class="bi bi-pencil"></i> Save Changes
            </button>
        </div>
    </div>
    <!-- Contents -->
    <div class="row">
        <div class="col-md-7">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="lecture-name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="lecture-name" value="{{ lecture.name }}">
                    </div>
                    <div class="mb-3">
                        <label for="lecture-description" class="form-label">Description</label>
                        <textarea class="form-control" id="lecture-description"
                                  rows="2">{{ lecture.description|default:"" }}</textarea>
                    </div>
                    <div>
                        <label class="form-label">Groups (Select groups to allow access)</label>
                        <div class="mb-2">
                            <label class="col-2 ps-3">Publishers:</label>
                            {% for publisher in publishers %}
                                {% if publisher.profile.type == "1" %}
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="publisher-groups"
                                               id="group-{{ publisher.id }}" value="{{ publisher.id }}"
                                               {% if publisher in lecture.groups.all %}checked{% endif %}>
                                        <label class="form-check-label" for="group-{{ publisher.id }}">
                                            {{ publisher.name }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            <label class="col-2 ps-3">Viewers:</label>
                            {% for viewer in viewers %}
                                {% if viewer.profile.type == "2" %}
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="viewer-groups"
                                               id="group-{{ viewer.id }}" value="{{ viewer.id }}"
                                               {% if viewer in lecture.groups.all %}checked{% endif %}>
                                        <label class="form-check-label" for="group-{{ viewer.id }}">
                                            {{ viewer.name }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <ul class="list-group" id="contents-list">
                        {% for content in contents %}
                            <li class="list-group-item d-flex align-items-center">
                                <div class="d-flex flex-column me-2">
                                    <i class="bi bi-caret-up" role="button" onclick="moveContentUp(this)"></i>
                                    <i class="bi bi-caret-down" role="button" onclick="moveContentDown(this)"></i>
                                </div>
                                <img src="{% url 'database:get_thumbnail' slide_id=content.slide.id %}"
                                     height=40 class="me-2" alt="">
                                <input type="hidden" class="slide-id" value="{{ content.slide.id }}">
                                {{ content.slide.name }}
                                <div class="ms-auto col-3">
                                    <input type="hidden" class="annotation-id" value="{{ content.annotation.id }}">
                                    <select class="form-select"
                                            onclick="setupSlideAnnotation(this, {{ content.slide.id }})"
                                            onchange="updateAnnotationId(this)">
                                        {% if content.annotation %}
                                            <option value="">None</option>
                                            <option value="{{ content.annotation.id }}"
                                                    selected>{{ content.annotation.name }}
                                                - {{ content.annotation.author.username }}</option>
                                        {% else %}
                                            <option value="" selected>None</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <button class="btn btn-sm" title="Remove" onclick="removeContent(this)">
                                    <i class="bi bi-dash-circle"></i>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Database</h5>
                </div>
                <div class="card-body">
                    {% if items %}
                        <ul class="list-unstyled">
                            {% for item in items %}
                                <li class="d-flex align-items-center mb-2">
                                    {% if item.type == "folder" %}
                                        <i class="bi bi-chevron-right me-2" data-bs-toggle="collapse"
                                           href="#collapse-{{ item.id }}" id="collapse-icon-{{ item.id }}"
                                           role="button" onclick="collapseFolder({{ item.id }})"></i>
                                        <i class="bi bi-folder me-2"></i>
                                    {% else %}
                                        <img src="{% url 'database:get_thumbnail' slide_id=item.id %}"
                                             height=40 class="me-2" alt="">
                                    {% endif %}
                                    {{ item.name }}
                                    {% if item.type != "folder" %}
                                        <button class="btn btn-sm ms-auto" title="Add"
                                                onclick="addContent({{ item.id }}, '{{ item.name }}')">
                                            <i class="bi bi-plus-circle"></i>
                                        </button>
                                    {% endif %}
                                </li>
                                {% if item.type == "folder" %}
                                    <ul class="list-unstyled ms-4 collapse" id="collapse-{{ item.id }}"></ul>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            <i class="bi bi-info-circle me-2"></i>There's nothing in database.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block extra_js %}
    <script>
        const CSRF_TOKEN = "{{ csrf_token }}";
        const GET_ITEMS_URL = "{% url 'database:get_folder_items' %}";
        const GET_THUMBNAIL_URL = "{% url 'database:get_thumbnail' slide_id=0 %}"
        const EDIT_LECTURE_URL = "{% url 'lectures:edit_lecture' %}"
        const GET_SLIDE_ANNOTATIONS_URL = "{% url 'database:get_slide_annotations' %}"
    </script>
    <script src="{% static 'lectures/lecture_edit.js' %}" type="text/javascript"></script>
{% endblock extra_js %}