{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for crumb in breadcrumbs %}
                <li class="breadcrumb-item">
                    <a href="{% url 'lectures:lecture-database' %}?folder={{ crumb.id }}">{{ crumb.name }}</a>
                </li>
            {% endfor %}
        </ol>
    </nav>
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">
            {% if current_folder and current_folder != user.base_lecture_folder %}
                {{ current_folder.name }}
            {% else %}
                Lecture Database
            {% endif %}
        </h4>
        <div class="btn-group">
            {% if current_folder %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newFolderModal">
                    <i class="bi bi-folder-plus"></i> New Folder
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newLectureModal">
                    <i class="bi bi-journal-plus"></i> New Lecture
                </button>
            {% endif %}
        </div>
    </div>
    <!-- Contents -->
    {% if items %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col" class="text-end">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            {% if item.type == "folder" %}
                                <i class="bi bi-folder text-warning me-2"></i>
                                <a href="{% url 'lectures:lecture-database' %}?folder={{ item.id }}"
                                   class="text-decoration-none">{{ item.name }}</a>
                            {% else %}
                                <a href="{% url 'lectures:lecture-view' lecture_id=item.id %}"
                                   class="text-decoration-none">{{ item.name }}</a>
                            {% endif %}
                        </td>
                        <td>{{ item.created_at|date:"Y-m-d H:i" }}</td>
                        <td class="updated-at">{{ item.updated_at|date:"Y-m-d H:i" }}</td>
                        <td class="text-end">
                            {% if item.type == 'folder' %}
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                            data-bs-target="#detailFolderModal" data-bs-tooltip="tooltip"
                                            title="Details" data-url="{% url 'api:lecture-folder-detail' pk=item.id %}">
                                        <i class="bi bi-info-circle"></i>
                                    </button>
                                    {% if current_folder %}
                                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                                data-bs-target="#renameFolderModal" data-bs-tooltip="tooltip"
                                                title="Rename"
                                                data-url="{% url 'api:lecture-folder-detail' pk=item.id %}">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                                data-bs-target="#moveFolderModal" data-bs-tooltip="tooltip" title="Move"
                                                data-url="{% url 'api:lecture-folder-detail' pk=item.id %}"
                                                data-url-tree="{% url 'api:lecture-folder-tree' %}"
                                                data-item-id="{{ item.id }}">
                                            <i class="bi bi-folder"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                                data-bs-target="#deleteFolderModal" data-bs-tooltip="tooltip"
                                                title="Delete"
                                                data-url="{% url 'api:lecture-folder-detail' pk=item.id %}">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        </div>
                                    {% endif %}
                            {% else %}
                                {% if item.is_editable %}
                                    <button type="button" class="btn btn-sm btn-outline-primary toggle-activity-btn"
                                            data-bs-tooltip="tooltip" title="Toggle Activity"
                                            data-url="{% url 'api:lecture-toggle-activity' pk=item.id %}">
                                        <i class="bi bi-toggle-{% if item.is_active %}on{% else %}off{% endif %}"></i>
                                        {% if item.is_active %}On{% else %}Off{% endif %}
                                    </button>
                                {% endif %}
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                            data-bs-target="#detailLectureModal" data-bs-tooltip="tooltip"
                                            title="Details" data-url="{% url 'api:lecture-detail' pk=item.id %}">
                                        <i class="bi bi-info-circle"></i>
                                    </button>
                                    {% if item.is_editable %}
                                        <a type="button" class="btn btn-outline-primary"
                                           href="{% url 'lectures:lecture-edit' lecture_id=item.id %}"
                                           data-bs-tooltip="tooltip" title="Edit">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                                data-bs-target="#moveLectureModal" data-bs-tooltip="tooltip"
                                                title="Move" data-url="{% url 'api:lecture-detail' pk=item.id %}"
                                                data-url-tree="{% url 'api:lecture-folder-tree' %}"
                                                data-item-id="{{ item.id }}">
                                            <i class="bi bi-folder"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                                data-bs-target="#deleteLectureModal" data-bs-tooltip="tooltip"
                                                title="Delete" data-url="{% url 'api:lecture-detail' pk=item.id %}">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            <i class="bi bi-info-circle me-2"></i>There's no lecture yet.
        </div>
    {% endif %}
{% endblock content %}


{% block extra_modal %}
    <!-- New Folder Modal -->
    <div class="modal fade" id="newFolderModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="newFolderForm" data-url="{% url 'api:lecture-folder-list' %}">
                    <div class="modal-body">
                        <input type="hidden" name="parent" value="{{ current_folder.id }}">
                        <label for="newFolderName" class="form-label">Folder Name</label>
                        <input type="text" class="form-control" id="newFolderName" name="name" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Rename Folder Modal -->
    <div class="modal fade" id="renameFolderModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Rename Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="renameFolderForm" data-url="">
                    <div class="modal-body">
                        <label for="renameFolderName" class="form-label mt-2">New Name</label>
                        <input type="text" class="form-control" id="renameFolderName" name="name" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Rename</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Move Folder Modal -->
    <div class="modal fade" id="moveFolderModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Move Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="moveFolderForm" data-url="">
                    <div class="modal-body">
                        <div class="border p-3 folder-tree-container"
                             style="max-height: 300px; overflow-y: auto;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Move</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Folder Modal -->
    <div class="modal fade" id="deleteFolderModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="deleteFolderForm" data-url="">
                    <div class="modal-body">
                        <p>Are you sure to delete this folder?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Detail Folder Modal -->
    <div class="modal fade" id="detailFolderModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Folder Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-3">Name:</dt>
                        <dd class="col-9" id="detail-folder-name"></dd>
                        <dt class="col-3">Contents:</dt>
                        <dd class="col-9" id="detail-folder-contents"></dd>
                        <dt class="col-3">Author:</dt>
                        <dd class="col-9" id="detail-folder-author"></dd>
                        <dt class="col-3">Parent:</dt>
                        <dd class="col-9" id="detail-folder-parent"></dd>
                        <dt class="col-3">Created:</dt>
                        <dd class="col-9" id="detail-folder-created"></dd>
                        <dt class="col-3">Updated:</dt>
                        <dd class="col-9" id="detail-folder-updated"></dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- New Lecture Modal -->
    <div class="modal fade" id="newLectureModal" tabindex="-1" aria-labelledby="newLectureModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newLectureModalLabel">New Lecture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="newLectureForm" data-url="{% url 'api:lecture-list' %}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <input type="hidden" name="folder" value="{{ current_folder.id }}">
                            <label for="newFolderName" class="form-label">Folder Name</label>
                            <input type="text" class="form-control" id="newFolderName" name="name" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Move Lecture Modal -->
    <div class="modal fade" id="moveLectureModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Move Lecture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="moveLectureForm" data-url="">
                    <div class="modal-body">
                        <div class="border p-3 folder-tree-container"
                             style="max-height: 300px; overflow-y: auto;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Move</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Lecture Modal -->
    <div class="modal fade" id="deleteLectureModal" tabindex="-1" aria-labelledby="deleteLectureModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLectureModalLabel">Delete Lecture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="deleteLectureForm" data-url="">
                    <div class="modal-body">
                        <p>Are you sure you want to delete this lecture?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Detail Lecture Modal -->
    <div class="modal fade" id="detailLectureModal" tabindex="-1" aria-labelledby="detailLectureModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailLectureModalLabel">Lecture Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <dl class="row" id="lecture-details">
                        <dt class="col-3">Name:</dt>
                        <dd class="col-9" id="detail-lecture-name"></dd>
                        <dt class="col-3">Description:</dt>
                        <dd class="col-9" id="detail-lecture-description"></dd>
                        <dt class="col-3">Contents:</dt>
                        <dd class="col-9" id="detail-lecture-contents"></dd>
                        <dt class="col-3">Author:</dt>
                        <dd class="col-9" id="detail-lecture-author"></dd>
                        <dt class="col-3">Groups:</dt>
                        <dd class="col-9" id="detail-lecture-groups"></dd>
                        <dt class="col-3">Activity:</dt>
                        <dd class="col-9" id="detail-lecture-activity"></dd>
                        <dt class="col-3">Created:</dt>
                        <dd class="col-9" id="detail-lecture-created"></dd>
                        <dt class="col-3">Updated:</dt>
                        <dd class="col-9" id="detail-lecture-updated"></dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock extra_modal %}


{% block extra_js %}
    <script src="{% static 'lectures/lectures.js' %}" type="text/javascript"></script>
    <script src="{% static 'lectures/lecture_database.js' %}" type="text/javascript"></script>
{% endblock extra_js %}
